.free-ship-container table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}
.free-ship-container th,
td {
  border: 1px solid #0c0808;
  padding: 8px;
  text-align: center;
}
.free-ship-container h1,
h2 {
  color: blue;
  text-align: center;
}
