.warranty-container h2 {
  color: blue;
  text-align: center;
}
.warranty-container h3 {
  color: blue;
}
.warranty-container table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}
.warranty-container th,
td {
  border: 1px solid #0c0808;
  padding: 8px;
  text-align: center;
}
